.bg{
    background-color: pink;
}

.image{
    width:125px;
    height:125px;
}

Main{
    text-align: center;
}
p{
    text-align: center;
}
footer{
    text-align:center;
}
/*
.nav .navbar-nav .nav-link:hover{
    color:rgb(151, 12, 33)
}

    */
.nav-link:hover {
    color: rgb(212, 91, 109) !important;
}